<h1>タスク一覧</h1>
<h2>未達成のタスク</h2>
<ul>
  <% @tasks_pending.each do |task| %>
    <li>
      <%= task.title %> - <%= task.description %> 
      <%= button_to '編集', edit_task_path(task),method: :get %>
      <%= button_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= button_to '達成に変更', complete_task_path(task), method: :patch %>
    </li>

    </li>
  <% end %>
</ul>

<h2>達成済みのタスク</h2>  
<ul>
    <% if @tasks.present? %>
        <% @tasks_completed.each do |task| %>

            <li>
                <%= task.title %> - <%= task.description %> 
                <%= button_to '編集', edit_task_path(task),method: :get %>
                <%= button_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %>




            </li>
        <% end %>
    <% else %>
        <li>未達成のタスクはありません。</li>
    <% end %>
</ul>

<%= link_to '新しいタスクを作成', new_task_path %>
<%= link_to '達成済みタスクの詳細一覧', completed_tasks_tasks_path %>
